<div id="grey" class="grey fadeIn">
  <div class="form-container">
    <div class="card form">
      <i class="material-icons close-icon" (click)="close()">close</i>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
        <fieldset>
          <div class="field">
            <input id="email" name="email" formControlName="email" placeholder="Email">
          </div>
          <div class="field">
            <input id="password" name="password" type="password" formControlName="password" placeholder="Password">
          </div>
          <div class="field">
            <input id="confirm" name="confirm" type="password" formControlName="confirm" placeholder="Confirm Password">
          </div>
        </fieldset>
        <input id="submit" name="submit" type="submit" class="button submit" value="Register and Log In">
        <div *ngIf="errorMessage" class="errors">
          <span class="errors">{{ errorMessage }}</span>
        </div>
        <div>
          <p class="muted">Already have an account?
            <a (click)="goToLogin()">Log In!</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>