<div class="container">
  <div class="card">
    <h4>
      About Katie
    </h4>
    <p>
      I was drawn to yoga to try something new, to become more flexible and to be comfortable in my own body. 
      Before yoga, I was a competitive swimmer and being accustomed to the routine, fitness and family aspect, 
      I found some of these elements on the mat.
    </p>
    <p>
      Yoga has given me the space to build strength and stretch it out. Each class can bring a new challenge, 
      take me to my edge or create the new limit. Yoga inspires me to continuously learn, grow and develop on 
      and off my mat.
    </p>
    <p>
      My classes will guide you through creative, unique and challenging sequences that welcome the space to 
      build even more heat and excitement. Every class will have its own unique theme intertwined to match the 
      physical movements and breath work. Storytelling, humor, a little sweat and the bliss of relaxation perfectly 
      balances out the class. Come prepared to move, step outside your comfort zone and explore. 
    </p>
  </div>
  <div class="blank-space"></div>
</div>