.button-card {
  display: inline-block;

  background-color: white;
  box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
  border-radius: 3px;

  padding: 16px;
  margin: 16px 0;
}

.button-container .button {
  margin: 8px 8px 0 8px;
  display: inline-block;
}