.opened {
  background-color: rgba(147,112,216,.3);
  color: white;
  margin-bottom: 0;
}

.admin-card {
  cursor: pointer;
}

.admin-content {
  background-color: white;
  box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
  border-radius: 0 0 5px 5px;

  padding: 8px 16px;
  margin: 0 0 16px 0;
  max-width: 95vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.attendees {
  list-style-type: none;
}

.attendees label {
  font-weight: bold;
}

.attendees ul {
  list-style-type: none;
}